extends ../layout

block extraHeader
    link(rel='stylesheet', href='css/common.css')

block content
    div.main
        div.content
            ul
                each page in pages
                    li
                        a(href=page) #{getName(page)}
