div.panel.panel-default.module-container
    div.panel-heading
        h1 Welcome To My Site
    div.panel-body
        div.row
            div.col-sm-6
                include _new-posts
            div.col-sm-6
                include _popular-posts
