extends ../../layout

block content
    div.main.container
        section.content
            a(href="/designs") Designs Home
            div.row
                article#welcome-module.col-sm-12.gutter-bottom
                    include _welcome-module
            div.row
                article#demo-module.col-sm-8.gutter-bottom
                    div.panel.panel-default.module-container
                article#blog-module.col-sm-4.gutter-bottom
                    div.panel.panel-default.module-container
            div.row
                article#tutorial-module.col-sm-12.gutter-bottom
                    div.panel.panel-default.module-container
