div.post-summary-container
    div.post-summary-header.clearfix
        h4 This is a blog post!
        div.post-icon-container
            span.post-icon.blog-post-icon Blog
    div.post-summary-abstract
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
